{# src/Book/ReviewBundle/Resources/views/Page/contact.html.twig #}
{% extends 'BookReviewBundle::layout.html.twig' %}
{% block title %}Contact{% endblock%}
{% block body %}
    <header>
        <h1>Name: Badar Munir</h1>
    </header>
    <article>
        <p>This book reviewer website answers all the questions you were too afraid to ask...</p>
    </article>
{% endblock %}